# Environments
venv/
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Node / JS
node_modules/
dist/
.vite/

# OS Files
.DS_Store
Thumbs.db

# Machine Learning
*.pkl

# Exceptions
!**/.gitkeep
